.main {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
}

.intro_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background-color: var(--back);
    padding: 3rem;
    border-radius: 1rem;
    max-width: 80rem;
}

.image_section {
    background-color: var(--second);
    border-radius: 100%;
}

.text_section {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.button {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--main);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    min-height: 2rem;
}

.button:hover {
    background-color: var(--second);
    transform: translateY(-0.1rem);
}

.store {
    display: flex;
    gap: 0.6rem;
    font-family: var(--font);
    :nth-child(2) {
        color: var(--main);
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 1rem 0 0 0
}

p {
    color: gray;
    font-size: small;
    font-weight: bolder;
    margin: 0.6rem 0 1rem 0;
}

.join_section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.join {
    display: flex;
    flex-direction: column;
    color: var(--second);
    min-width: 16rem;
    padding: 0 0 1rem 0;
    font-family: 'Arya', sans-serif;
    background-color:var(--back);
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.4s;
}

.join:hover {
    background-color: var(--hover);
}

.pic {
    width: 100%;
    max-width: 40rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}