@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.header_main {
    position: sticky;
    top: 0px;
    padding: 2rem;
    background-color: #171717;
    box-shadow: 0px 15px 10px -16px #111;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.nav_left {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #f7036b
}

.nav_right {
    @extend .nav_left
}

span {
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Tilt Neon', cursive;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

span:hover {
    transform: translateY(-0.1rem);
}

